{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1>{{ __('errors.timeOut.title') }}</h1>
      {% if not production %}
        <h2>{{ status }}</h2>
        <pre>{{ stack }}</pre>
      {% endif %}
      <p>{{ __('errors.timeOut.yourSession') }}</p>
      <p>{{ __('errors.timeOut.personalInformation') }}</p>
      <p>{{ __('errors.timeOut.startAgain') }}</p>
      {{
        govukButton({
          text: __('errors.timeOut.startAgainButton'),
          href: paths.CHILD_SAFETY + "?lang=" + getLocale()
        })
      }}
    </div>
  </div>
{% endblock %}
